.user-header-ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin-top: 0;
}

.user-header-ul a {
  color: var(--white);
}

.user-header-ul a:hover,
.user-header-ul a:active,
.user-header-ul a .active {
  color: var(--white);
  padding-bottom: 0.25rem;
  border-bottom: 1px solid var(--white);
}

/* small */
@media screen and (max-width: 480px) {
}

/* medium */

@media (min-width: 481px) and (max-width: 1024px) {
}

/* large */
@media (min-width: 1025px) {
  .user-header-logo {
    margin-top: 4%;
  }

  .user-header-ul {
    font-size: 16px;
    line-height: 22px;
  }
}
