* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--black);
}

:root {
  --white: #fff;
  --black: #010103;
  --pink: #f5044c;
}

a {
  text-decoration: none;
}
